<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAB with Flask</title>
</head>
<body>
    <h1>Página creada por Juan Antonio Gil Alba</h1>
    <p> {% for cuarto, res in datos[0].items() %}
            {{ cuarto }}º Cuarto:&emsp;
            {% for equipo, resultado in res.items() %}
            {{ datos[1][equipo] }} : {{ resultado }}   

            {%endfor%}
        <br>
        {% endfor %}
    </p>
    
</body>
</html>

